


<header role="banner" class="dale-margin">

  <div class="bg" style="background: var(--dark);">
  </div>
  <div class="standard-bar">
    <div class="container">
      <h1>{{ 'general.404.title' | t }}</h1>

    </div>
  </div>
</header>

<div class="container pt-5 pb-5">
  <p>{{ 'general.404.subtext_html' | t }}</p>
</div>
