

<header role="banner" class="dale-margin">


    <div class="bar">
      <div class="bg">
        <img src="">
      </div>
      <div class="container">
        {% if page.metafields.custom_fields["hero_headline"] != blank %}
        <h1>{{ page.metafields.custom_fields["hero_headline"] }}</h1>
        {% endif %}

        {% if page.metafields.custom_fields["hero_tagline"] != blank %}

        <h3 class="text-white mb-0"><span>{{ page.metafields.custom_fields["hero_tagline"] }}</span></h3>

        {% endif %}
      </div>
    </div>


    <div class="container">

      <div class="rte">
        <div class="row">
        <div class="col-sm-6 pt-5 pb-4">
          <p class="">We believe this platform will allow you to take your coaching to new heights and become the best instructor you can be. This tool isn’t only designed for instructors! Explore our entire catalog of offerings and you will find our online lesson programs, A Swing video series, and more, to improve your personal game as well.</p>

          <p>We believe that if you aren’t learning, you’re moving backwards. We are dedicated to providing the best learning courses on the market to help you reach the top of your career which allows your students to learn better, faster.</p>
        </div>
        </div>


      </div>
    </div>

  </header>


