.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 97;
  background: var(--dark);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
  padding-top: calc(var(--headerHeight) + 1rem);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .menu-active & {
    opacity: 1;
    visibility: visible;
  }

  .row,
  .container {
    //    height: 100%;
  }

  .nav {
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 5rem;
    margin: 0;

    li {
      flex: 1 1 100%;
      max-width: 100%;

      &.active {
        //        > svg {
        //          transform: scaleY(-1);
        //        }
        //        ul {
        //          display: block;
        //        }
      }

      a {
        font-size: 1rem;
        padding: .15rem 0;
        @extend .title;
        color: var(--light);
        display: block;
      }

      &.has-children > a {

        // (768px)
        @include media-breakpoint-down(md) {
          pointer-events: none;
        }
      }

      ul {
        list-style: none;
        padding: 0 0 .5rem;
        margin: 0;
        position: relative;
        left: .25rem;

        //        display: none;
        li {
          margin: 1rem 0;
          display: block;

          a {
            font-size: 1rem;
            padding: .15rem 0;
            @extend .title;
            color: var(--light);
            display: block;
          }

          ul {
            padding: 1rem 0 .5rem;
            margin: 0;
            display: none;
          }

          &:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
}
