.collections-grid {
  margin: 3rem auto;

  // @media (1199.98px)
  @include media-breakpoint-down(lg) {
    > .row {
      margin: 0;
    }
  }

  &.dale-margin {

    // @media (1199.98px)
    @include media-breakpoint-up(xl) {
      padding: 0 1rem;
    }

    padding: 0;
  }

  .single-collection {

    // @media (991.98px)
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }

    .card {
      //    box-shadow: 0 rem(10) rem(20) rgba(0, 0, 0, 0.09), 0 rem(6) rem(6) rgba(0, 0, 0, 0.13);
      border: none;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      height: 100%;
      --large: 50% 50%;

      @include media-breakpoint-down(md) {
        --small: 50% 50%;
        //        min-height: 35rem;
        //        max-height: 35rem;
        //        height: 35rem;
      }

      @include media-breakpoint-down(sm) {
        min-height: 66vw;
        max-height: 66vw;
        height: 66vw;
      }
  //(575.98px)

      @include media-breakpoint-down(xs) {
        min-height: 75vw;
        max-height: 75vw;
        height: 75vw;
      }

      // (991.98px)
      @include media-breakpoint-up(lg) {
        &:hover, &:focus {
          .top-image {
            .over {
              //            left: calc(100% - var(--width));
              //            right: 0;
              transform: translateX(-100%) skewX(-20deg);

              &.view-link {
                transform: translateX(0) skewX(-20deg);

                h6 {
                  color: var(--light);
                }
              }

              h6 {
                color: var(--light);
              }
            }

            .overlay {
              transform: scale(1.1) skewX(-20deg) translate3d(-30%, 0%, 0);

              div {
                transform: scale(1.1) skewX(20deg) translate3d(30%, 0%, 0);
              }
            }
          }
        }
      }

      .over {
        transform: skewX(-20deg);
        transform-origin: 50% 50% 0;
        position: absolute;
        top: 0;
        left: -1rem;
        z-index: 2;
        padding: .5rem 2rem .25rem;
        right: calc(50% - 1rem);
        transition: .3s ease;

        // @media (1199.98px)
        @include media-breakpoint-down(lg) {
          padding: 1rem 2rem .25rem;
          left: 0;
        }

        h6 {
          transform: skewX(20deg);
          color: var(--brand-secondary);
          width: auto;
          display: inline-block;
          font-size: 1.5rem;
          line-height: 1;
          margin: 0;

          // @media (1199.98px)
          @include media-breakpoint-down(lg) {
            font-size: 1.75rem;
          }

          @include media-breakpoint-down(md) {
            font-size: 2rem;
          }
  //(575.98px)

          @include media-breakpoint-down(xs) {
            font-size: 1.75rem;
          }
        }

        &.view-link {
          left: auto;
          right: -1rem;
          transform: translateX(calc(var(--width) + 2rem)) skewX(-20deg);

          // @media (991.98px)
          @include media-breakpoint-down(md) {
            display: none;
          }

          h6 {
            color: var(--light);
          }
        }
      }

      .top-image {
        position: relative;
        overflow: hidden;
        height: 100%;

        .img {
          width: 100%;
          height: 100%;
          min-height: 50rem;
          background-size: cover;
          background-position: var(--large);
          transform-origin: 50% 50% 0;
          transition: .5s ease;
          background-repeat: no-repeat;

          // (991.98px)
          @include media-breakpoint-down(sm) {
            //            --small: 50% 50%;
            //            min-height: 35rem;
            //            max-height: 35rem;
            //            height: 35rem;
            //            min-height: 40rem;
            background-position: var(--small);
          }

          @include media-breakpoint-down(sm) {
            //            min-height: 66vw;
            //            max-height: 66vw;
            //            height: 66vw;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2.5rem;
          background: var(--light);
          z-index: 1;

          // (991.98px)
          //          @include media-breakpoint-down(lg) {
          //            height: 3.5rem;
          //          }
          @include media-breakpoint-down(lg) {
            height: 3.75rem;
          }

          @include media-breakpoint-down(md) {
            height: 4rem;
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 30%;
          height: 50rem;
          width: 100%;
          transform: skewX(-20deg);
          overflow: hidden;
          z-index: 1;
          transition: .3s ease;
          transform-origin: 50% 50% 0;
          height: 50rem;

          // @media (1199.98px)
          @include media-breakpoint-down(sm) {
            left: 50%;
            //            height: 66vw;
            //            height: 40rem;
          }

          div {
            --large: 50% 50%;
            background-size: cover;
            position: absolute;
            top: 0;
            left: -30%;
            height: 100%;
            width: 100%;
            transform: skewX(20deg);
            background-color: var(--brand-primary);
            background-size: cover;
            background-position: var(--large);
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            transition: .3s ease;
            min-height: 50rem;

            @include media-breakpoint-down(sm) {
              left: -50%;
              //              min-height: 0;
              //              max-height: 66vw;
              background-position: var(--small);
            }

            // @media (1199.98px)
            @include media-breakpoint-down(sm) {}

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              background: linear-gradient(35deg, var(--brand-primary) 0%, rgba(white, 0) 100%);
              opacity: .5;
            }
          }
        }
      }

      .bottom {
        padding: 1rem;

        .h5 {
          color: var(--brand-secondary);
        }

        a,
        button {
          color: var(--dark);
          font-weight: bold;
          font-size: .75rem;
          text-transform: uppercase;
          background: none;
          border: none;

          img {
            height: 1.25rem;
            width: 1.25rem;
            margin-right: .15rem;
            position: relative;
            top: -.15rem;
          }
        }
      }
    }

    &:nth-of-type(even) {
      .over {
        background: transparent;

        h6 {
          color: var(--light);
        }
      }

      @include media-breakpoint-up(lg) {
        &:hover, &:focus {
          .card {
            .top-image {
              .overlay {
                transform: scale(1.1) skewX(-20deg) translate3d(50%, 0%, 0);

                div {
                  transform: scale(1.1) skewX(20deg) translate3d(-50%, 0%, 0);
                }
              }
            }
          }
        }
      }

      .card {
        .top-image {

          // @media (991.98px)
          @include media-breakpoint-up(md) {
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2.5rem;
              background: var(--light);
              z-index: 1;
              top: auto;
            }
          }

          // @media (1199.98px)
          @include media-breakpoint-down(lg) {
            &:before {
              content: none;
            }
          }

          .overlay {
            position: absolute;
            top: 0;
            left: -50%;
            //            height: 100%;
            width: 100%;
            transform: skewX(-20deg);
            overflow: hidden;

            div {
              background-size: cover;
              position: absolute;
              top: 0;
              left: 50%;
              height: 100%;
              width: 100%;
              transform: skewX(20deg);
              background-color: var(--brand-secondary);
              background-size: cover;
              background-position: var(--large);
              background-blend-mode: multiply;
              background-repeat: no-repeat;
              padding: 1rem;
              display: flex;
              flex-wrap: wrap;

              //              min-height: 50rem;
              // @media (1199.98px)
              @include media-breakpoint-down(sm) {
                background-position: var(--small);
                //                min-height: 40rem;
                //                left: 57%;
              }

              @include media-breakpoint-down(sm) {
                //                background-position: var(--small);
                //                min-height: 40rem;
                //                left: 57%;
              }

              &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: linear-gradient(35deg, var(--brand-primary) 0%, rgba(white, 0) 100%);
                opacity: .5;
              }
            }
          }
        }
      }
    }
    //991.98px
    @include media-breakpoint-up(md) {
      @include media-breakpoint-down(md) {
        &:first-of-type {
          padding-right: 7.5px !important;
        }

        &:nth-of-type(3) {
          padding-right: 7.5px !important;
        }

        &:nth-of-type(2) {
          padding-left: 7.5px !important;
        }

        &:nth-of-type(4) {
          padding-left: 7.5px !important;
        }

        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }

    // @media (1199.98px)
    @include media-breakpoint-up(lg) {
      padding-right: 7.5px !important;
      padding-left: 7.5px !important;

      &:first-of-type {
        padding-right: 7.5px !important;
        padding-left: 15px !important;
      }

      &:last-of-type {
        padding-right: 15px !important;
        padding-left: 7.5px !important;
      }
    }
  }
}
