.btn {
  line-height: 1;
  border-radius: rem(100);
  padding: 1rem 2.5rem;
  color: var(--brand-primary);
  border: rem(3) solid var(--brand-primary);
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    border-color: var(--brand-secondary);
    background: var(--brand-secondary);
    color: var(--light);
  }

  &.btn-primary {
    background-color: var(--brand-primary);
    color: var(--light);

    &:hover {
      border-color: var(--brand-primary);
      color: var(--brand-primary);
      background-color: var(--light);
    }
  }

  &.block {
    display: block;
    padding: 1rem 0;
    width: 100%;
  }

  &.no-small {

    // @media (991.98px)
    @include media-breakpoint-down(md) {
      background: none !important;
      padding: 1rem 0 0 !important;
      color: var(--brand-primary) !important;
      outline: none !important;
      border: none !important;
    }
  }

  img {
    display: inline-block;
    top: -.1rem;
    position: relative;
    margin-right: .15rem;
    margin-left: 1rem;
  }
}
