$baseFontSize: 14;

@function rem($pixels, $context: $baseFontSize) {
  @return $pixels / $context * 1rem;
}

:root {
  --light: #fff;
  --dark: #000;
  --text: #212529;
  --white-text: #fff;
  --dark-on-white: #000;
}

.img-fluid {
  svg {
    width: 100%;
    height: auto;
  }
}

svg#logo {
  width: 100%;
  height: auto;
  //  #wordmark {
  //    fill: white;
  //  }
  //
  //  #mark {
  //    fill: white;
  //
  //    // (767.98px)
  //    @include media-breakpoint-down(sm) {
  //      display: none;
  //    }
  //  }
  //
  //  //      * {
  //  //        fill: var(--light);
  //  //      }
  //  #lines g rect {
  //    display: none;
  //  }
  //
  //  path:not([fill="none"]) {
  //    fill: white;
  //  }
  //
  //  *[fill="#C10230"]:not([fill="none"]) {
  //    fill: var(--brand-primary);
  //  }
  //
  //  *[fill="#231F20"]:not([fill="none"]) {
  //    fill: white;
  //  }
  //
  //  *[opacity="0.22"] {
  //    fill: white;
  //    opacity: .5;
  //  }
}

.text-white {
  color: var(--white-text) !important;

  * {
    color: var(--white-text) !important;
  }
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --light: #212121;
//    --dark: #000;
//    --text: #fff;
//    --dark-on-white: #fff;
//  }
//
//  html {
//    background: #212121;
//
//    body {
//      background: #212121;
//
//      * {
//        .collections-grid .single-collection .card .over h6, .collections-grid .single-collection .card .over.view-link h6, .account-nav .cat-nav li a {
//          color: white;
//        }
//
//        .account-nav .cat-nav li a {
//          opacity: 1;
//        }
//      }
//    }
//  }
//}
.dale-margin {

  // (991.98px)
  @include media-breakpoint-up(md) {
    padding: 1rem;
  }
}

$sans: 'Avenir';
$condensed: 'Heroic Condensed';

.physical,
.collection-physical {
  --brand-primary: var(--category-physical);
  --brand-secondary: var(--category-physical-alt);
}

.mental,
.collection-mental {
  --brand-primary: var(--category-mental);
  --brand-secondary: var(--category-mental-alt);
}

.juniors,
.collection-juniors {
  --brand-primary: var(--category-juniors);
  --brand-secondary: var(--category-juniors-alt);
}

.technical,
.collection-technical {
  --brand-primary: var(--category-technical);
  --brand-secondary: var(--category-technical-alt);
}

:root {
  --banner-width: 45%;
}

// @media (1199.98px)
@include media-breakpoint-up(lg) {
  .container {
    max-width: 80%;
  }
}

// (1199.98px)
@include media-breakpoint-down(lg) {
  .container {
    max-width: 85%;
    padding: 0 1rem;
  }

  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-auto,
  .template-product .detail .col-wrapper p {
    padding: 0 1rem;
  }
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 95%;
  }
}

.skip-link {
  position: absolute !important;
  opacity: 0;
  top: 3.05rem;
  left: 3.5rem;
  z-index: 2;

  &:active,
  &:focus {
    opacity: 1;
    z-index: 999;
    position: absolute !important;
  }
}

section {
  position: relative;
}

.visually-hidden {
  @extend .sr-only;
}

html {
  overflow-x: hidden;

  // (575.98px)
  @include media-breakpoint-down(xs) {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

header {
  .standard-bar {
    background: var(--brand-primary);
    padding: 4.1rem 0;
    position: relative;

    // (991.98px)
    @include media-breakpoint-down(md) {
      padding: 1rem 0;
    }

    .bg {
      position: absolute;
      top: 0;
      right: -4rem;
      height: 101%;
      transform: skewX(-20deg);
      border-left: 1.5rem solid var(--light);
      overflow: hidden;
      width: var(--banner-width);
      --large: 50% 50%;

      // @media (991.98px)
      @include media-breakpoint-down(md) {
        display: none;
      }

      img,
      .plyr {
        height: 100%;
        width: calc(100% + 4rem);
        left: -10%;
        object-fit: cover;
        object-position: var(--large);
        transform: skewX(20deg);
        position: absolute;
      }
    }

    h1 {
      color: var(--light);
      font-weight: bold;
      text-transform: uppercase;
      margin: 0
    }
  }
}

div[data-bgset] {
  transition: .3s ease;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

.supports-cookies .supports-no-cookies {
  display: none;
}

.supports-no-cookies .supports-cookies {
  display: none;
}

.hide {
  display: none;
}

// (767.98px)
@include media-breakpoint-down(sm) {
  table.responsive-table.table {
    display: flex;

    thead,
    tbody {
      width: 100%;
      flex: 1 1 100%;
      max-width: 75%;
      display: flex;
      flex-wrap: wrap;

      tr {
        display: flex;
        flex-wrap: wrap;
        background: none;
        border: none;
        vertical-align: middle;

        td {
          border: none;
          margin: 0;
          padding: .5rem;
          width: 100%;
          text-align: left !important;
          vertical-align: middle;
          flex: 1 1 auto;
          width: auto;
          font-size: rem(12);

          //          &:nth-child(even) {
          //            background: #eee;
          //          }
          *:not(img) {
            display: inline-block;
            margin: 0 !important;
            padding: 0;
            font-size: 1rem;
            text-align: left !important;
            line-height: 1;
            height: auto;
          }

          &[data-label="Order"] {
            &:before {
              content: 'Order: ';
            }

            flex: 1 1 100%;
            width: 100%;
            font-size: 1rem;
            font-weight: bold;
          }

          img {
            width: .85rem;
            height: .85rem;
            top: -.15rem;
            position: relative;
          }
        }
      }
    }

    thead {
      max-width: 50%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: none;

      tr {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      th {
        border: none;
        margin: 0;
        padding: .5rem;
        width: 100%;
        text-align: left !important;
        //        top: -.25rem;
        font-family: $sans !important;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        * {
          font-weight: bold;
          font-size: 1rem;
        }

        &:nth-child(even) {
          background: #eee;
        }
      }
    }
  }
}
