html {
  @media(min-aspect-ratio: 10/9) {
    font-size: .9vw;
  }

  @media(max-aspect-ratio: 10/9) {
    font-size: 1.1vw;
  }

  font-size: 1.1vw;

  // (991.98px)
  @include media-breakpoint-down(md) {
    font-size: 1.45vw;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2.75vw;
  }

  //(575.98px)
  @include media-breakpoint-down(xs) {
    font-size: 3.5vw;
  }

  font-family: 'Avenir';
  font-weight: normal;

  body {
    font-size: 1rem;
    font-family: 'Avenir';
    color: var(--text);
  }

  p {
    line-height: 1.75;
    margin-bottom: 2rem;
    color: var(--text);

    &.secondary {
      color: var(--brand-secondary);
    }

    &.brand {
      color: var(--brand-primary);
    }
  }

  p,
  li {
    font-size: 1rem;

    a {
      color: var(--brand-primary);
      transition: .3s ease;

      &:hover, &:focus {
        color: var(--brand-secondary);
        text-decoration: none;
      }
    }
  }

  a {
    color: var(--brand-primary);
    transition: .3s ease;

    &:hover, &:focus {
      color: var(--brand-secondary);
      text-decoration: none;
    }
  }

  --title-spacing: .45em;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    letter-spacing: var(--title-spacing);
    position: relative;
    left: -.1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 2;

    // @media (1199.98px)
    @include media-breakpoint-down(sm) {
      line-height: 1.5;
      font-size: 1.5rem;
    }

    span {
      font-family: 'Heroic Condensed';
      letter-spacing: 0;
      font-weight: normal;
      line-height: 1;
    }

    &.no-spacing {
      letter-spacing: 0;
    }

    &.secondary {
      color: var(--brand-secondary);
    }

    &.no-caps {
      text-transform: none;
    }

    &.brand {
      color: var(--brand-primary);
    }

    &.title {
      font-family: 'Avenir';
      letter-spacing: var(--title-spacing);
      position: relative;
      left: -.1em;
      text-transform: uppercase;
      font-weight: bold;
    }

    &.condensed {
      font-family: 'Heroic Condensed';
      letter-spacing: 0;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 1.25;
    }
  }
}

.title {
  font-family: 'Avenir';
  letter-spacing: var(--title-spacing);
  position: relative;
  left: -.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.condensed {
  font-family: 'Heroic Condensed';
  letter-spacing: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.25;
}

.transition {
  transition: .3s ease;
}
